.PersonInfo {
  display: flex;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  background: #fff;
  cursor: pointer;
}

.PersonInfo:hover {
  padding: 30px;
  border: 2px solid pink;
}

.PersonInfo__firstNameLastName {
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}

.PersonInfo__jobTitle {
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}

.PersonInfo__emailAddress {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
